@{
    ViewData["Title"] = "Home Page";
}


<div class="header-hero header-hero--light">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 fadeInScaleDown">
                <h1>
                    Spacial Bootstrap 4 Theme
                </h1>
                <p>
                    Spacial is a set of 100+ unique multipurpose Business, Startup, Agency & Shop templates, a perfect solution for businesses, creatives & online shops. With a modern design, fully responsive, plus great features, new plugins, styled components packed in
                    this theme and <a href="docs/intro.html" target="_blank">thorough documentation</a>, Spacial will help you build unique and modern websites and projects.
                </p>
            </div>
        </div>
    </div>
    <div class="index-intro-cta">
        <a class="btn-outline mr-md-4 mb-3 d-inline-block" href="index.html">
            <i class="ion-earth"></i> Explore theme
        </a>
        <a href="https://wrapbootstrap.com/theme/spacial-responsive-website-template-WB0P249P1" target="_blank" class="btn-shadow btn-shadow-lg btn-shadow-primary">
            Purchase now
            <i class="ion-chevron-right"></i>
        </a>
    </div>
</div>

<div id="user" class="index-features-user">
    <header>
        <h3>Your files are always secured</h3>
        <h4>
            We have the best security infrastructure available, your files will always be safe and we make daily backups
        </h4>
    </header>
    <section class="clearfix">
        <img src="images/iphone-14.png" class="devices float-right">

        <h4>Access to your business on the go</h4>
        <p>
            Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
        </p>
        <p>
            Spacial is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly.
        </p>
        <div class="icons">
            <i class="ion-monitor"></i>
            <i class="ion-ipad"></i>
            <i class="ion-iphone"></i>
        </div>
    </section>
</div>
<div id="files" class="index-features-files clearfix">
    <div class="container2">
        <div class="container1">
            <div class="col col-left">

                <div class="features">
                    <div class="feature clearfix">
                        <div class="image">
                            <img src="images/icons/features-icon-upload.png">
                        </div>
                        <div class="info">
                            <strong>
                                Improve your workflow today
                            </strong>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                            </p>
                        </div>
                    </div>
                    <div class="feature clearfix">
                        <div class="image">
                            <img src="images/icons/features-icon-earth.png">
                        </div>
                        <div class="info">
                            <strong>
                                Your data in the cloud
                            </strong>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                            </p>
                        </div>
                    </div>
                    <div class="feature clearfix">
                        <div class="image">
                            <img src="images/icons/features-icon-repeat.png">
                        </div>
                        <div class="info">
                            <strong>
                                Easy to customize
                            </strong>
                            <p>
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-right">
                <div class="info">
                    <h3>Sync your contacts now</h3>
                    <h4>
                        Powerful dashboard that lets you control your site and portfolio.
                    </h4>
                    <p>
                        Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included. It works in all browsers and your clients can pay instantly to everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index-features-cta">
    <div class="container">
        <div class="info">
            <strong>
                Ready to get started and be awesome?
            </strong>
            <p>
                Try our 30-day trial no credit card required
            </p>
        </div>

        <a href="#">
            Sign Up Now
        </a>
    </div>
</div>
<div class="index-intro-features">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="ion-ios-infinite-outline mb-3"></i>
                <h5>
                    Free updates and support
                </h5>
                <p>
                    This theme includes free updates and technical support. <a href="mailto:e.adrian90@gmail.com">Send us an email</a> and we'll get back to you as soon as possible.
                </p>
            </div>
            <div class="col-md-4">
                <i class="icon-tools-2 mb-4"></i>
                <h5 class="mt-3">
                    Source files and tooling
                </h5>
                <p>
                    Includes all the source and compiled files you need, plus Gulp based build tools for compiling, minifying and optimizing everything you need.
                </p>
            </div>
            <div class="col-md-4">
                <i class="ion-ios-book-outline mb-2"></i>
                <h5>
                    Great documentation
                </h5>
                <p>
                    We've included <a href="docs/intro.html">detailed documentation</a> to easily get started, make changes and customizations, plus live examples for new components and plugins.
                </p>
            </div>
            <div class="col-md-4">
                <i class="ion-code-working mb-3"></i>
                <h5>
                    Extended Bootstrap components
                </h5>
                <p>
                    We've extended many of the Bootstrap 4 components with new styles, and added new utilities, components and plugins.
                </p>
            </div>
            <div class="col-md-4">
                <i class="ion-monitor mb-3"></i>
                <h5>
                    Flexbox powered
                </h5>
                <p>
                    All the templates are carefully crafted to display perfectly in all devices using the new Bootstrap 4 Flexbox grid system and utilities.
                </p>
            </div>
            <div class="col-md-4">
                <i class="ion-ios-settings mb-3"></i>
                <h5>
                    Easily customizable
                </h5>
                <p>
                    Includes very clean and easy-to-understand sass files and HTML structure, making the theme very easy to customize and extend to your own needs.
                </p>
            </div>
        </div>
    </div>
</div>
